:root {
  --white: #FFFFFF;
  --black: #000000;
  --azul-baby: #00B0D0;
  --text-input-field: #F7F7F7;
  --hospital-green: #ACD9B2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
body {
  margin: 0;
  font-family: 'Chewy';
  background-image: url('public/img/Hanna Baby Shower-01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.inactive {
  display: none;
}

/* Navbar (General) */

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
.menu {
  display: none;
}
.logo {
  width: 170px;
}
.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.navbar-left,
.navbar-right {
  display: flex;
}

.navbar-right ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
}

.navbar-right ul li a {
  font-weight: bold;
  border: 1px solid var(--hospital-green);
  color: var(--white);
  background-color: var(--hospital-green);
  margin-right: 10px;
}

/* Menu en mobile */

.mobile-menu {
  background-color: var(--white);
  position: absolute;
  top: 90px;
  padding: 24px;
  right: 30px;
  width: 100%;
  text-align: right;
}
.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  /* margin-bottom: 24px; */
}
.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}
.mobile-menu ul li {
  margin-bottom: 24px;
}
.menuMobile {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}
.email {
  font-size: var(--sm);
  font-weight: 300 !important;
}
.sign-out {
  font-size: var(--sm);
  color: var(--hospital-green) !important;
}

@media (max-width: 640px) {
  .menu {
    display: block;
    width: 30px;
  }
  .navbar-right ul {
    display: none;
  }
}

@media (min-width: 641px) {
  .mobile-menu {
      display: none;
  }
}